html, body {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
canvas {
    margin: auto;
    border: 3px solid black;
}
#root {
    display: block;
    max-width: max-content;
    margin: auto;
}
div.sections {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin: auto;
    display: inline-block;
    padding: 20px;
}
#hold {
    float: bottom;
padding-left: 50px;
}
#grid {
padding-left: 80px;
}
#buttons {
    max-width: 560px;
    box-sizing: content-box;
    margin-left: 150px;
    height: auto;
}
